[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.pdb
*.mdb
*.opendb
*.VC.db
*.blend1
*.blend2
*.fbx1
*.log
*.tmp
*.bak
*.unitypackage
*.apk
*.aab
*.exe
*.app/
*.dmg
.DS_Store
Thumbs.db
.sol-run/
.vsconfig
